<div id="<%= dom_id comment %>">
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>

    <strong>Body:</strong>
    <%= comment.body %> |
    <%= link_to "Edit Comment", edit_topic_post_comment_path(@topic,comment.post, comment) %> | <%= button_to "Delete Comment", post_comment_path(comment.post, comment), method: :delete %>
  </p>

</div>