<p style="color: green"><%= notice %></p>

<h1>Topics</h1>

<div id="topics">
  <% @topics.each do |topic| %>
    <%= render topic %></div>
    <p>
      <%= link_to "Show this topic", topic %> |
      <%= link_to "Show this post", topic_posts_path(topic) %>
    </p>
    <%= link_to "New topic", new_topic_path %>
  <% end %>
</div>


