
<%= form_with(model: [@topic, post]) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
<br>
  <div>
    <%= form.label :publish, style: "display: block" %>
    <%= form.date_field :publish %>
  </div>
<br>
  <div class="field">
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
  </div>
<br>
  <%= form.fields_for :tags,@post.tags.build do |field| %>
    <%= field.label "New Tag" %>
    <%= field.text_field :name %>
  <% end %>
      <%= form.label "All tags"%>
      <%= form.collection_select :tag_ids,Tag.all,:id,:name,{},{:multiple => true} %>
  </div><br>
  <div class='field'>
    <%= form.submit %>
  </div>
<% end %>
