<h2>New Post</h2>
<%= form_with(model: [@topic, post], data: {remote: true}) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :name %>
    <div class="col-sm-5"><%= form.text_field :name, class: "form-control post_name" %></div>
  </div>
  <div class="mb-3">
    <%= form.label :publish %>
    <div class="col-sm-5"><%= form.date_field :publish, class: "form-control post_date"  %></div>
  </div>
  <div class="mb-3">
    <%= form.label :image %>
    <div class="col-sm-5"><%= form.file_field :image ,class: "form-control",type: "file", id: "formFile"%></div>
  </div>
  <div class="mb-3">
    <%= form.label :tag_name %>
    <div class="col-sm-5"><%= form.fields_for :tags,@post.tags.build do |field| %>
      <%= field.text_field :name, class: "form-control tag_name"  %>
      <% end %></div>
  </div>

  <div class="mb-3">
    <%= form.label :All_tags %>
    <div class="col-sm-5"><%= form.collection_select :tag_ids,Tag.all,:id,:name,{},{:multiple => true, class: "form-control tag_name"} %></div>
  </div>
  <div class="actions">
    <%= form.submit class: "btn btn-success"%>
  </div><br>
<% end %>
