<tr>
<td><%= post.name %>&nbsp</td>
<td><%= (post.rating_average || 0.0).floor(1) %></td>
<td><%= post.comments_count %> comments</td>
<td><%= post.users.include?(current_user)? 'Read' : 'Unread' %></td>
<td><%= link_to "Show", topic_post_path(post.topic, post), class:"btn btn-info" %></td>
<% if can? :destroy, post %>
<!--  <td><%#= link_to "Destroy", topic_post_path(post.topic,post), data: { turbo_method: "delete", turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %></td>-->
    <td><%= link_to "Destroy", topic_post_path(post.topic,post),method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger" %></td>
<% else %>
  <td></td>
<% end %>
</tr>