<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", [@topic, post] %>
    </p>
  <% end %>
</div>
<%= link_to "Back to topics", topics_path %> |
<%= link_to "New post", new_topic_post_path %>
