<!--<p style="color: green"><%#= notice %></p>-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.js">
    $(document).ready(function(){
        $("#show").click(function(){
            window.alert("clicked internal btn!");
            $.ajax({
                url: "topics/"+ <%=@topic%> +"/posts/"+ <%=@post%>,
                type: "GET",
                data: "Read",
                success: function(data) {window.alert("success!!");},
                error: function(data) {window.alert("something went wrong!!");}
            });
            // $("#show").each(function(index){
            //     var value = "Read";
            //     $('#read_text').text(value);
            //     // $("#read_text").replaceWith("Read")
            // });
        });
    });
</script>

<h1>Posts</h1>
<table class="table table-dark table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Rating</th>
      <th scope="col">Comments</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <% @posts.each do |post| %>
    <tr>
        <td><%= post.name %>&nbsp</td>
        <% if params[:topic_id] %>
          <% if post.users.where("user_id = ? AND post_id = ?",current_user.id,post.id).blank? %>
            <td><p class="read_text">Unread</p></td>
          <%end %>
        <% else %>
          <%= link_to "Show this post", post , class:"btn btn-info", id: "show"%>
          <% end %>&ensp;
        <% if params[:topic_id] %>
          <td>Average: <%= (post.ratings.average(:num) || 0.0).floor(1) %> stars.&ensp;</td>
          <td><%= post.comments.count(:commenter) %> comments</td>
        <% end %>
        <td><%= link_to "Show", topic_post_path(@topic, post), remote: true, class:"btn btn-info", id: "show" %></td>
        <td><% if can? :destroy, post %>
            <%= link_to "Destroy", topic_post_path(@topic,post), data: { turbo_method: "delete", turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
          <% end %></td>
    </tr>
    <% end %>
    </tbody>
</table>
<div id="posts">
  <%= render 'form', post: @post %>
</div>
<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
<% if params[:topic_id] %>
  <%= link_to "Back to topic", topic_path(@topic), class: "btn btn-secondary" %>
  <%= link_to "New post", new_topic_post_path(@topic), class: "btn btn-success" %>
<% else %>

<% end %><p></p>
<%= link_to 'Add post', new_topic_post_path(@topic),  { remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'}  %>
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
