<h1>Posts</h1>
<% if @topic.nil? %>
  <%= render "filter_form" %>
<% end %>
<br>
<table class="table table-dark table-striped table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Average Rating</th>
      <th>Comments</th>
      <th colspan="2"> Actions</th>
    </tr>
    </thead>
    <tbody id="table-body">
    <% @posts.each do |post| %>
    <tr>
        <td><%= post.name %>&nbsp</td>
        <td><p class="read_text">Unread</p></td>
        <td><%= (post.rating_average || 0.0).floor(1) %> stars.&ensp;</td>
        <td><%= post.comments.size %> comments</td>
        <td><%= link_to "Show", topic_post_path(post.topic, post), class:"btn btn-info" %></td>
        <% if can? :destroy, post %>
            <td><%= link_to "Destroy", topic_post_path(post.topic,post), data: { turbo_method: "delete", turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %></td>
        <% else %>
            <td></td>
        <% end %>
    </tr>
    <% end %>
    </tbody>
</table>
<% if @topic.present? %>
  <%= link_to "Back to topic", topic_path(@topic), class: "btn btn-secondary" %>
  <%= link_to "New post", new_topic_post_path(@topic), remote: true, class: "btn btn-success" %>
<% end %>
<br><br>
<div id="new_form"></div>
<br><br>
<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
<p></p>
