<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <strong>Name:</strong>
    <%= post.name %>&nbsp;
      <% if params[:topic_id] %>
        <%= link_to "Show this post", topic_post_path(@topic, post) %>
      <% else %>
        <%= link_to "Show this post", post %>
      <% end %>
    <br><br><br>
  <% end %>
</div>
<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
<% if params[:topic_id] %>
  <%= link_to "Back to topic", topic_path(@topic) %> |
  <%= link_to "New post", new_topic_post_path %>
<% else %>

<% end %>
