<% content_for :head do %>
  <% unless @post.users.include?(current_user) %>
    <%= javascript_pack_tag 'post', 'data-turbolinks-track': 'reload', defer: true %>
  <% end %>
<% end %>
<div id="post" data-read-url="<%= read_topic_post_path(@topic, @post) %>">
<div class="card" style="width: 25rem;">
  <% if @post.image.attached? %>
    <div class="card-img-top"><%= image_tag(@post.image,style:"width:400px;height:400px")%></div>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= @post.name %></h5>
    <%= @post.publish %>
    <%= @post.user.email %>
    <p class="card-text"></p>
    <% if can? :destroy, @post %>
      <%= link_to "Edit this post", edit_topic_post_path([@topic, @post]), class: "btn btn-warning"  %>
      <%= link_to "Destroy", topic_post_path(@topic,@post), data: { turbo_method: "delete", turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
<br>
<h3>Comments</h3>

<% @post.comments.each do |comment| %>
<%= render comment %>
<% end %>

<% if @post.tags.length>0 %>
  <strong>Tags:</strong>
  <% @post.tags.each do |tag| %>
    <%= link_to tag_path, style:"text-decoration:none" , class: "btn btn-primary" do %>
      <span class="tag"><%= tag.name %></span>
    <% end %>
  <% end %>
<% end %>
<br><br>
<table><tr>
  <%= form_with(model: [@topic, @post]) do |f| %>
    <td><%= f.fields_for :tags,@post.tags.build do |field| %>
      <%= field.label "New Tag" %>
    <div class="col-sm-10"><%= field.text_field :name, class: "form-control" %></div>
    <% end %></td>
    <td>
    <%= f.label "Tags" %>
<!--    <div class="col-sm-5"><%#= f.collection_select :tag_ids,Tag.all,:id,:name,{},{multiple: true, class: "form-control"}%></div><br>-->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select tags
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= f.collection_select(:tag_ids,Tag.all,:id,:name,{},{multiple: true, class: 'dropdown-item'}) %>
      </div>
    </div>
    </td>
    <td><br>&nbsp;&nbsp;<%= f.submit "Add", class: "btn btn-success" %></td>
  <% end %>
</tr></table><br>

<strong>Rating:</strong><br><br>
<% (1..5).each do |t| %>
  <%= t %> Star
  <% y=@post.ratings.group(:num).where(num: t).size %>
  <% y=y.delete(t) %>=
  <% if y.is_a? Numeric  %>
    <%= y %>
  <% else %>
    <%= "0" %>
  <% end %><br>
<% end %>
<br>
<div class="field">
<%= form_with model: [@topic,@post,@post.ratings.build] do |f| %>
    <strong>Give Rating to the Post:</strong>
      <%= f.radio_button :num, 1 %>1
      <%= f.radio_button :num, 2 %>2
      <%= f.radio_button :num, 3 %>3
      <%= f.radio_button :num, 4 %>4
      <%= f.radio_button :num, 5 %>5
  <%= f.submit "Rate" %>
<% end %>
</div>
<br>
<% if params[:topic_id]%>
<div>
  <%= link_to "New Comment", new_topic_post_comment_path(@topic,@post), class: "btn btn-success"  %>
  <%= link_to "Back to post", topic_posts_path(@topic), class: "btn btn-secondary"  %>
</div>
<% else %>
  <%= link_to "New Comment", new_topic_post_comment_path(@post.topic,@post), class: "btn btn-success" %> |
  <%= link_to "Back to topic", topic_path(@post.topic) %> |
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", topic_posts_path(@post.topic) %>

  <%= button_to "Destroy this post", @post, method: :delete %>
<% end %>
<p></p>
</div>