<p style="color: green"><%= notice %></p>

<%= render @post %>

<h1>Comments</h1>

<% @post.comments.each do |comment| %>
<%= render comment %>
<% end %>
<table><tbody><tr><td>
<% if @post.tags.length>0 %>
  <strong>Tags:</strong>
  <% @post.tags.each do |tag| %>
    <%= link_to tag, style:"text-decoration:none" do %>
      <span class="tag"><%= tag.name %></span>
    <% end %>
  <% end %>
<% end %></td>
<td>

  <%= form_with(model: [@topic, @post]) do |f| %>
    <%= f.fields_for :tags,@post.tags.build do |field| %>
      <%= field.label "New Tag" %>
      <%= field.text_field :name %>
    <% end %>
    <%= f.label "Tags" %>
    <%= f.collection_select :tag_ids,Tag.all,:id,:name,{},{multiple: true}  %>
    <%= f.submit "Add" %>
  <% end %>
</td></tr></tbody></table>
<% @post.ratings.each do |r| %>
  <p>
<!--    <strong>Rating:</strong>-->
    <%#= r.num %>
  </p>
<% end %>
<strong>Rating:</strong><br><br>
<% (1..5).each do |t| %>
  <%= t %> Star
  <% y=@post.ratings.group(:num).where(num: t).count %>
  <%= y if y!={} %>
  <%= " =0" if y=={} %><br>
<% end %>
<br>
<div class="field">
<%= form_with model: [@topic,@post,@post.ratings.build] do |f| %>
    <strong>Give Rating to the Post:</strong>
      <%= f.radio_button :num, 1 %>1
      <%= f.radio_button :num, 2 %>2
      <%= f.radio_button :num, 3 %>3
      <%= f.radio_button :num, 4 %>4
      <%= f.radio_button :num, 5 %>5
  <%= f.submit "Rate" %>
<% end %>
</div>
<br>
<% if params[:topic_id]%>
<div>
  <%= link_to "New Comment", new_topic_post_comment_path(@topic,@post) %> |
  <%= link_to "New tag", new_topic_post_tag_path(@topic,@post) %> |
  <%= link_to "Edit this post", edit_topic_post_path([@topic, @post]) %> |
  <%= link_to "Back to post", topic_posts_path(@topic) %>
<br><br>
  <%= button_to "Destroy this post", topic_post_path(@topic, @post), method: :delete %>
</div>
<% else %>
  <%= link_to "New Comment", new_topic_post_comment_path(@post.topic,@post) %> |
  <%= link_to "Back to topic", topic_path(@post.topic) %> |
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", topic_posts_path(@post.topic) %>

  <%= button_to "Destroy this post", @post, method: :delete %>
<% end %>